app/.flowsmgdb.json.backup
[{"id":"7e411f774f05492e","type":"tab","label":"Flujo alcachofa","disabled":false,"info":"","env":[]},{"id":"82ed6ace56e36d07","type":"tab","label":"Flujo 2","disabled":false,"info":"","env":[]},{"id":"7009a3087756f462","type":"inject","z":"7e411f774f05492e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":60,"wires":[["d6367b203e1e9bfd"]]},{"id":"d6367b203e1e9bfd","type":"debug","z":"7e411f774f05492e","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":320,"y":60,"wires":[]},{"id":"e540915a3cdbdf9d","type":"inject","z":"82ed6ace56e36d07","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":80,"wires":[[]]}]